@import url(./common/normalize.css);
@import url(./common/reset.css);
@import url(./common/theme.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 링크 스타일 */
a {
  text-decoration: none;
}

main {
  padding-top: 28px;
  background-color: var(--black);
  width: 100%;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15.5px 0 15.5px;
}

h2 {
  height: 22px;
  margin-bottom: 28px;
  font: var(--text-heading);
  font-size: var(--text-size-m);
  color: var(--white);
}

.find-pw-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  /* width 100%를 주니까 무너짐 */
  width: 100%;
}

.find-pw-text {
  font: var(--text-label);
  font-size: var(--text-size-s);
  color: var(--gray-400);
}

.find-pw {
  width: 100%;
}

.input-find-pw {
  width: 100%;
  height: 46px;
  padding: 0px 0px 0px 16px;
  background: var(--brand-dark-bg-2);
  border-radius: 4px;
  font: var(--text-paragraph);
  font-size: var(--text-size-s);
  color: var(--gray-600);
  border: none;
}

.pw-button {
  width: 100%;
  height: 42px;
  background: #404040;
  border-radius: 4px;
  border: none;
  color: var(--gray-400);
  font: var(--text-label);
  font-size: var(--text-size-s);
}

@media (min-width: 320px) and (max-width: 767px) {
  .find-pw-form {
    gap: 16px;
  }
  .pw-button {
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1919px) {
  .content-wrap {
    gap: 24px;
    margin: 0 176px 0 176px;
  }
  h2 {
    height: 40px;
    font: var(--text-heading);
    font-size: var(--text-size-xl);
    color: var(--white);
  }
  .pw-button {
    margin-top: 24px;
  }
}

@media (min-width: 1920px) {
  .content-wrap {
    padding: 70px 0 0 0;
  }
  .find-pw-form {
    gap: 24px;
  }
  .input-find-pw {
    padding: 0px 0px 0px 24px;
  }
  .pw-button {
    margin-top: 36px;
  }
}
