@import url(./common/normalize.css);
@import url(./common/reset.css);
@import url(./common/theme.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 링크 스타일 */
a {
  text-decoration: none;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 0px 0px 20px;
  /* gap: 28px; */
  width: 319px;
  height: 256px;
}

h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  width: 319px;
  height: 22px;
  font-weight: 700;
  font-size: var(--text-size-m);
  line-height: 22.4px;
  color: var(--white);
}

.find-pw-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 288px;
  height: 116px;
}

.find-pw-text {
  font-weight: 600;
  font-size: var(--text-size-s);
  line-height: 150%;
  color: var(--gray-400);
}

.find-pw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 288px;
  height: 46px;
}

.input-find-pw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 288px;
  height: 46px;
  padding: 0px 20px 0px 16px;
  background: var(--brand-dark-bg-2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12.003px;
  line-height: 160%;
  color: var(--gray-600);
}

.pw-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 42px;
  background: #404040;
  border-radius: 4px;
  border: 0;
  margin-top: 20px;
  color: var(--gray-400);
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
}
